body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	width: 350px;
	text-align: center;
}

div {
	/* padding-top: 10px; */
	/* padding-bottom: 20px; */
	margin: 20px 10px;
}

h1 {
	font-size: 36px;
	color: #333;
}

p {
	font-size: 16px;
	color: #3a3a3a;
}

hr {
	margin: 0px 10px;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

button i {
	margin-right: 5px;
}

button:hover {
	background-color: #555;
}

a {
	margin: 0px 4px; /* Adjust the margin to control spacing */
}
